<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- <app&#45;explore&#45;container name="Tab 1 page foo"></app&#45;explore&#45;container> -->
  <ion-button
    *ngIf="showButton"
    color="success"
    shape="round"
    expand="full"
    (click)="buttonClicked()"
    >{{ buttonText }}</ion-button>
  <ion-button
    *ngIf="!showButton"
    color="danger"
    shape="round"
    expand="full"
    (click)="buttonClicked()"
  >{{ buttonText }}</ion-button>
  <ion-text>
    Clicked {{ activeLetter }} times
  </ion-text>
  <br>
  <br>
  <ion-button
    color="danger"
    shape="round"
    expand="full"
    (click)="toastButton()"
  >Feelin' Toasty</ion-button>

  <svg width="300" height="300">
    <circle cy="80" r="50" fill="blue">
      <animate attributeName="cx" from="0" to="300" dur="3s" fill="freeze" repeatCount="2" />
    </circle>
  </svg>
</ion-content>
